<template>
  <div class="app-endpoints">
    <MainFilter class="app-endpoints__filter"
                @onChangeFilter="onChangeFilter" :filterOptions="filterOptions">
    </MainFilter>
    <MainEndpointPreviewList></MainEndpointPreviewList>
    <BasePaginationWrapper
      @onChangePage="onChangePage"
      :limit="pagination.perPage"
      :list="paginationsItems"></BasePaginationWrapper>
  </div>
</template>

<script>
import _ from 'lodash';

import { mapActions, mapGetters } from 'vuex';
import MainFilter from '@/components/main/MainFilter.vue';
import MainEndpointPreviewList from '@/components/main/endpoint/MainEndpointPreviewList.vue';
import BasePaginationWrapper from '@/components/base/BasePaginationWrapper.vue';

import { DEFAULT_PER_PAGE } from '@/utils/pagination';
import { initialFilters } from '../../utils/filters';

export default {
  components: {
    MainFilter,
    MainEndpointPreviewList,
    BasePaginationWrapper,
  },

  data() {
    return {
      pagination: {
        currentPage: 1,
        perPage: DEFAULT_PER_PAGE,
        total: 0,
      },

      filterOptions: initialFilters,
    };
  },

  computed: {
    ...mapGetters({
      endpointsList: 'endpoints/endpointsList',
    }),

    mappedPagination() {
      return `&page=${this.pagination.currentPage}&per_page=${this.pagination.perPage}`;
    },

    paginationsItems() {
      const START_RANGE = 0;

      return _.range(START_RANGE, this.pagination.total);
    },
  },

  methods: {
    ...mapActions({
      fetchList: 'endpoints/fetchList',
    }),

    onChangePage(page) {
      this.pagination.currentPage = page;
    },

    async onChangeFilter({ value, key }) {
      this.filterOptions[key] = value;

      await this.onFilterList();
    },

    async onFilterList() {
      const { headers } = await this.fetchList({
        queryParams: this.filterOptions,
        pagination: this.mappedPagination,
      });

      this.pagination.total = headers['x-total-count'];
    },
  },

  async created() {
    await this.onFilterList();
  },

  beforeRouteEnter(to, from, next) {
    const isAuth = localStorage.getItem('authToken');

    return !isAuth ? next('/sign/login') : next();
  },
};
</script>

<style scoped>
  .app-endpoints {
    padding-top: 20px;
  }
  .app-endpoints__filter {
    display: none;

    @media (--viewport-ex-large-desktop) {
      display: flex;
    }
  }
</style>
