<template>
  <div class="app">
    <MainNav class="app__nav"></MainNav>
    <MainHeader class="app__header"></MainHeader>
    <div class="app__content">
      <div class="app__wrapper wrapper">
        <router-view/>
      </div>
    </div>
  </div>
</template>

<script>
import MainNav from '@/components/main/MainNav.vue';
import MainHeader from '@/components/main/MainHeader.vue';

export default {
  components: {
    MainNav,
    MainHeader,
  },
};
</script>

<style>
  .app {
    padding-top: 65px;
    height: 100%;
    min-height: 100%;
    height: auto !important;
    @media (--viewport-ex-large-desktop) {
      padding-top: 0;
    }
  }
  .opened--nav {
    .app__header {
      left: var(--main-nav-width);
    }
    .app__nav,
    .app__content {
      transform: translateX(0);
    }
  }
  .app__header {
    position: fixed;
    z-index: 998;
    top: 0;
    left: 0;
    width: 100vh;
    background: #fff;
    transition: left .3s ease;
    box-sizing: border-box;
    @media (--viewport-ex-large-desktop) {
      position: relative;
      padding-left: var(--main-nav-width);
    }
  }

  .app__nav {
    transform: translateX(calc(var(--main-nav-width) * -1));
    transition: transform .3s ease;
    @media (--viewport-ex-large-desktop) {
      transform: translateX(0);
    }
  }

  .app__content {
    padding-left: var(--main-nav-width);
    padding-bottom: 50px;
    width: calc(100% + var(--main-nav-width));
    transform: translateX(calc(var(--main-nav-width) * -1));
    box-sizing: border-box;
    transition: transform .3s ease;
    @media (--viewport-ex-large-desktop) {
      width: 100%;
      transform: translateX(0);
    }
  }
</style>
