<template>
    <div class="sign-in-form">
      <ValidationObserver ref="loginValidationObserver" v-slot="{ invalid }">
        <h1 class="sign-in-form__title">Sign In</h1>
        <div class="sign-in-form__list">
          <div class="sign-in-form__item">
            <ValidationProvider name="email" vid="email" rules="email|required" v-slot="{ errors }">
              <BaseInputWrapper :class="{'input-wrapper--error': errors[0]}" label="Email">
                <input @input="resetValidator"  v-model="email" type="email">
              </BaseInputWrapper>
              <span class="sign-in-form__msg" id="error-email">{{ errors[0] }}</span>
            </ValidationProvider>
          </div>
          <div class="sign-in-form__item">
            <ValidationProvider name="password" vid="password" rules="required" v-slot="{ errors }">
              <BaseInputWrapper  :class="{'input-wrapper--error': errors[0]}" label="Password">
                <input  @input="resetValidator" v-model="password" type="password">
              </BaseInputWrapper>

              <span class="sign-in-form__msg" id="error-password">{{ errors[0] }}</span>
            </ValidationProvider>
          </div>
        </div>
        <p v-if="serverValidationError" class="sign-in-form__msg">Wrong email or password</p>
        <button
          @click="onValidateForm"
          class="sign-in-form__button button"
          type="button">Sign in</button>
      </ValidationObserver>
  </div>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  data() {
    return {
      email: '',
      password: '',
      isValidForm: true,
      serverValidationError: false,
    };
  },

  methods: {
    ...mapActions({
      login: 'auth/login',
    }),

    async onValidateForm() {
      const isValid = await this.$refs.loginValidationObserver.validate();

      if (!isValid) {
        return this.isValidForm = false;
      }

      const { error } = await this.login({
        username: this.email,
        password: this.password,
      });

      if (error) {
        return this.serverValidationError = true;
      }

      return this.$router.push({
        name: 'endpoints',
      });
    },

    resetValidator() {
      this.serverValidationError = false;

      this.$refs.loginValidationObserver.reset();
    },
  },
};
</script>

<style scoped>
  .sign-in-form {
    position: relative;
    z-index: 1;
    width: 100%;
    margin-bottom: 30px;
    @media (--viewport-desktop) {
      max-width: 350px;
    }
    @media (--viewport-ex-large-desktop) {
      max-width: 550px;
    }
  }
  .sign-in-form__item {
    margin-bottom: 35px;
    &:last-child {
      margin-bottom: 15px;
    }
  }

  .sign-in-form__title {
    margin-bottom: 40px;
    color: var(--primary-color);
    font-weight: 300;
    font-size: 1.75rem;
    line-height: 1.366666667;

    @media (--viewport-tablet) {
      font-size: 2.75rem;
    }

    @media (--viewport-desktop) {
      font-size: 3.75rem;
    }
  }

  .sign-in-form__msg {
    margin-bottom: 25px;
    font-size: 1rem;
    text-align: center;
    line-height: 1.42;
    color: var(--error-color);
  }

  .sign-in-form__button {
    width: 100%;
    margin-bottom: 20px;
  }
</style>
