<template>
  <div class="sign-in-description">
    <div class="sign-in-description-box">
      <img class="sign-in-description__logo" src="/images/logo.png" alt="">
    </div>

    <div class="sign-in-description__box">
      <p class="sign-in-description__title">150 000 Customers are already using Emnify to: </p>
      <ul class="sign-in-description__list">
        <li class="sign-in-description__item">
          <svg class="sign-in-description__icon">
            <use xlink:href="#check-circle"></use>
          </svg>
          See a bigger picture. Do more.
All your devices in one place.
        </li>
        <div class="sign-in-description__item">
          <svg class="sign-in-description__icon">
            <use xlink:href="#check-circle"></use>
          </svg>
          Stay informed on everything that happens with your devices.
        </div>
        <div class="sign-in-description__item">
          <svg class="sign-in-description__icon">
            <use xlink:href="#check-circle"></use>
          </svg>
          Debugging your connection has never been so easy.
        </div>
      </ul>
    </div>

    <div class="sign-description__box">

    </div>
  </div>
</template>

<script>
export default {

};
</script>

<style scoped>
  .sign-in-description {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    justify-content: space-between;
  }

  .sign-in-description__logo {
    position: absolute;
    top: 27px;
    left: 16px;
    mix-blend-mode: exclusion;
    @media (--viewport-tablet) {
      position: relative;
      top: 0;
      left: 0;
      mix-blend-mode: inherit;
      margin-bottom: 30px;
    }
  }

  .sign-in-description__list {
    margin: 0;
    padding: 0;
  }

  .sign-in-description__title {
    margin-bottom: 44px;
    color: rgba(255,255,255, .7);
    font-size: 1rem;
    line-height: 1.5;
  }

  .sign-in-description__item {
    position: relative;
    margin-bottom: 32px;
    padding-left: 29px;
    font-size: 1rem;
    line-height: 1.375;
    font-weight: 300;
    color: #FFFFFF;
    @media (--viewport-tablet) {
      padding-left: 49px;
      font-size: 1.25rem;
    }

    @media (--viewport-desktop) {
      padding-left: 69px;
      font-size: 1.5rem;
    }
  }

  .sign-in-description__icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 19px;
    height: 19px;
    fill: #50E2B6;
    @media (--viewport-tablet) {
      width: 29px;
      height: 29px;
    }

    @media (--viewport-desktop) {
      width: 39px;
      height: 39px;
    }
  }
</style>
