<template>
  <div class="sign">
    <div class="sign__content">
      <router-view/>
    </div>
  </div>
</template>

<script>
export default {
};
</script>

<style scoped>
  .sign {
    height: 100%;
  }
  .sign__content {
    height: 100%;
  }
</style>
