<template>
  <div class="sign-in">
    <div class="sign-in__list">
      <div class="sign-in__box sign-in__box--info">
        <div class="sign-in__image">
          <img class="sign-in__image-value" src="/images/sign.svg" alt="">
        </div>
        <SignInDescription></SignInDescription>
      </div>

      <form class="sign-in__box sign-in__box--form">
        <SignInForm></SignInForm>
      </form>
    </div>
  </div>
</template>

<script>
import SignInForm from '@/components/sign/SignInForm.vue';
import SignInDescription from '@/components/sign/SignInDescription.vue';

export default {
  components: {
    SignInForm,
    SignInDescription,
  },

  beforeRouteEnter(to, from, next) {
    const isAuth = localStorage.getItem('authToken');

    return isAuth ? next('/endpoints') : next();
  },
};
</script>

<style scoped>
  .sign-in {
    height: 100%;
  }

  .sign-in__list {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    min-height: 100vh;
    height: auto !important;
    @media (--viewport-tablet) {
      height: 100%;
      flex-direction: row;
      height: auto !important;
    }
  }

  .sign-in__box--info {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 40px 16px 16px;
    background: var(--primary-color);
    box-sizing: border-box;

    @media (--viewport-tablet) {
      position: relative;
      z-index: 1;
      width: 40%;
      padding: 32px;
    }

    @media (--viewport-desktop) {
      padding: 64px;
    }
  }

  .sign-in__box--form {
    width: 100%;
    display: flex;
    padding: 80px 16px 0;
    min-height: 0;
    background: #fff;
    box-sizing: border-box;

    @media (--viewport-tablet) {
      width: 60%;
      padding: 32px 64px;
    }

    @media (--viewport-desktop) {
      padding: 60px 128px 0;
    }
  }

  .sign-in__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .1;
    @media (--viewport-tablet) {
      z-index: -1;
    }
  }

  .sign-in__image-value {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
</style>
