<template>
  <div class="header">
    <div class="header__wrapper wrapper">
      <div class="hamburger-button" @click="toggleNav()">
        <i class="hamburger-button__icon"></i>
      </div>
      <h2 class="header__title">Endpoints List</h2>
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    data() {
      return {
        isNavOpen: true,
      };
    },

    toggleNav() {
      this.isNavOpen = !this.isNavOpen;
      const bodyElement = document.body;
      if (this.isNavOpen) {
        bodyElement.classList.add('opened--nav');
      } else {
        bodyElement.classList.remove('opened--nav');
      }
    },
  },
};
</script>

<style scoped>
  .header {
    width: 100%;
    height: 65px;
    border-bottom: 1px solid #e6e6e6;
  }
  .header__wrapper {
    display: flex;
    height: 100%;
    align-items: center;
  }

  .header__title {
    margin: 0;
    padding: 0;
    font-weight: 300;
  }
</style>
