<template>
  <div class="filter">
    <div class="filter__box">
      <BaseInputWrapper class="input-wrapper--select" label="Search by status">
        {{activeStatus}}
        <select @change="onSetStatus" v-model="filterOptions.status">
          <option :value="statusesOptions[optionsMap.disabled]">
            {{optionsMap.disabled}}
          </option>
          <option :value="statusesOptions[optionsMap.enabled]">
          {{optionsMap.enabled}}
          </option>
        </select>
      </BaseInputWrapper>
    </div>
    <div class="filter__box">
      <BaseInputWrapper label="Search by name">
        <input @input="onChangeName" v-model="filterOptions.name" type="text">
      </BaseInputWrapper>
    </div>
    <div class="filter__box">
      <BaseInputWrapper label=" Search by tags">
        <input @input="onChangeTag" type="text">
      </BaseInputWrapper>
    </div>
    <div class="filter__box">
      <BaseInputWrapper label="Search by ip address">
        <input  @input="onChangeIp"
                v-model="filterOptions.ip_address" type="text">
      </BaseInputWrapper>
    </div>
    <div class="filter__box">
      <BaseInputWrapper label="Search by IMEI">
        <input  @input="onChangeImei"
                v-model="filterOptions.imei" type="text">
      </BaseInputWrapper>
    </div>
  </div>
</template>

<script>
/* eslint-disable func-names */

import _ from 'lodash';

import { STATUSES_OPTIONS_MAP, STATUSES_SORT_OPTIONS, STATUS_LABEL } from '../../utils/filters';

export default {
  data() {
    return {
      selectOptions: 'Disabled',
    };
  },
  props: [
    'filterOptions',
  ],
  computed: {
    optionsMap() {
      return STATUSES_OPTIONS_MAP;
    },

    statusesOptions() {
      return STATUSES_SORT_OPTIONS;
    },

    activeStatus() {
      return STATUS_LABEL[this.filterOptions.status];
    },
  },

  methods: {
    onSetStatus(event) {
      this.$emit('onChangeFilter', {
        key: 'status',
        value: event.target.value,
      });
    },

    onChangeName: _.debounce(function (event) {
      this.$emit('onChangeFilter', {
        key: 'name',
        value: event.target.value,
      });
    }, 500),

    onChangeTag: _.debounce(function (event) {
      this.$emit('onChangeFilter', {
        key: 'tags',
        value: event.target.value,
      });
    }, 500),

    onChangeIp: _.debounce(function (event) {
      this.$emit('onChangeFilter', {
        key: 'ip_address',
        value: event.target.value,
      });
    }, 500),

    onChangeImei: _.debounce(function (event) {
      this.$emit('onChangeFilter', {
        key: 'imei',
        value: event.target.value,
      });
    }, 500),
  },
};
</script>

<style scoped>
  .filter {
    display: flex;
    top: 0;
    left: 0;
    padding-top: 20px;
    background: #fff;
  }

  .filter__box {
    flex: 1;
    padding: 0 5px;
    box-sizing: border-box;
  }
</style>
