<template>
  <div class="nav">
    <div class="nav__data">
      <div class="nav__box nav__box--logo">
        <img class="nav__logo" src="/images/logo.png" alt="">
        <p class="nav__title">Navigation</p>
      </div>
      <div class="nav__box nav__box--list">
        <div class="nav__item">
          <a href="#" class="nav__link">
            <svg class="nav__ico">
              <use xlink:href="#ethernet"></use>
            </svg>
            Endpoints
          </a>
        </div>
      </div>
      <div class="nav__box">

        <button type="button" class="nav-logout-button" @click="onLogout">

          <svg class="nav-logout-button__icon">
            <use xlink:href="#logout"></use>
          </svg>
          Logout
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapMutations } from 'vuex';

export default {
  methods: {
    ...mapMutations({
      logout: 'auth/logout',
    }),
    onLogout() {
      this.logout();
      document.body.classList.remove('opewned--nav');

      this.$router.push({
        name: 'signIn',
      });
    },
  },
};
</script>

<style scoped>
  .nav {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    bottom: 0;
    width: var(--main-nav-width);
    background: rgb(236, 87, 91) linear-gradient(90deg, rgba(236, 87, 91, 1) 0%,
    rgba(234, 104, 64, 1) 48%, rgba(232, 112, 45, 1) 100%);
  }
  .nav__title {
    margin-top: 30px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    width: 100%;
    color: #fff;
    font-size: .75rem;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(255,255,255,.4);
  }
  .nav__data {
    display: flex;
    padding: 20px;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    box-sizing: border-box;
  }

  .nav__box--list {
    padding: 0 0 30px 0;
    flex: 1;
    min-height: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    border-bottom: 1px solid rgba(255,255,255. 4);
  }

  .nav__link {
    position: relative;
    display: block;
    padding: 10px 15px 10px 30px;
    min-width: 0;
    color: #fff;
    fill: #fff;
    font-size: 1rem;
    line-height: 1.2;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    box-sizing: border-box;
    &:hover {
      color: rgba(255,255,255,.7);
    }
  }

  .nav__ico {
    position: absolute;
    top: 50%;
    left: 0;
    fill: inherit;
    width: 20px;
    height: 20px;
    margin-top: -10px;
  }

  .nav-logout-button {
    position: relative;
    padding-left: 30px;
    font-size: 1rem;
    color: #fff;
    line-height: 1.42;
    outline: none;

    &:hover {
      color: rgba(255,255,255,.7);
    }
  }

  .nav-logout-button__icon {
    position: absolute;
    top: 50%;
    left: 0;
    width: 20px;
    height: 20px;
    fill: #fff;
    margin-top: -10px;
  }
</style>
