.button {
  display: block;
  padding: 20px 24px;
  color: #ffffff;
  font-size: .8125rem;
  line-height: 1.384615385;
  background: var(--primary-color);
  outline: none;
  border: 0;

  &:hover {
    background: var(--primary-color-80);
  }
}

.button[disabled] {
  color: #898E90;
  cursor: default;
  background: var(--primary-color-5);
}
