html {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -webkit-overflow-scrolling: touch;
}

body {
  height: 100%;
  font-size: 16px;
  color: #626F88;
  line-height: 1.42;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
  outline: none;
}

ul, li {
  list-style: none;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  font: 400 .875rem 'Lato' !important;
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}


#app {
  height: 100%;
  min-height: 100%;
  height: auto !important;
  overflow: hidden;

  @media (--viewport-ex-large-desktop) {
    overflow: initial;
    height: 100% !important;
  }
}

.wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;

  @media (--tablet-viewport) {
    padding: 0 24px;
    max-width: 768px;
  }
}

.wrapper--mobile-only {
  max-width: 768px;
}
