.pagination-wrapper {
  text-align: right;

  ul {
    display: flex;
    padding-top: 10px;
    margin: 0 -5px;
    justify-content: flex-end;
    li {
      padding: 0 5px;
      a {
        display: inline-block;
        width: 35px;
        height: 35px;
        font-size: 1rem;
        line-height: 33px;
        text-align: center;
        color: var(--primary-color-80);
        border: 1px solid var(--primary-color-50);
        vertical-align: top;
        border-radius: 4px;
        box-sizing: border-box;

        &:hover {
          border-color: var(--primary-color-80);
        }
      }
    }
  }
}
