@custom-media --viewport-phone (width >= 20rem); /*500 px*/
@custom-media --viewport-tablet (width >= 50rem); /*768 px*/
@custom-media --viewport-desktop (width >= 62rem); /*992 px*/
@custom-media --viewport-ex-large-desktop (width >= 80rem); /*992 px*/

:root {
  --primary-color: #283237;
  --primary-color-80: rgba(40,50, 55, .8);
  --primary-color-50: rgba(40,50, 55, .5);
  --primary-color-20: rgba(40,50, 55, .2);
  --primary-color-5: rgba(40,50, 55, .05);
  --error-color: #FA4D56;
  --success-color: #41BA96;
  --shade-color: #909597;

  --main-nav-width: 225px;
}
