<template>
  <div class="endpoint-preview__dropdown endpoint-preview-dropdown">
    <div class="endpoint-preview-dropdown__list">
      <div class="endpoint-preview-dropdown__item">
        <p class="endpoint-preview-dropdown__title">ID</p>
        <p class="endpoint-preview-dropdown__value">{{endpoint.id}}</p>
      </div>
      <div class="endpoint-preview-dropdown__item">
        <p class="endpoint-preview-dropdown__title">ICCID</p>
        <p class="endpoint-preview-dropdown__value">
          {{endpoint.sim && endpoint.sim.iccid || '-'}}
        </p>
      </div>
      <div class="endpoint-preview-dropdown__item">
        <p class="endpoint-preview-dropdown__title">MSISDN</p>
        <p class="endpoint-preview-dropdown__value">
          {{endpoint.sim && endpoint.sim.msisdn || '-'}}
        </p>
      </div>
      <div class="endpoint-preview-dropdown__item">
        <p class="endpoint-preview-dropdown__title">IP</p>
        <p class="endpoint-preview-dropdown__value">{{endpoint.ip_address}}</p>
      </div>
      <div class="endpoint-preview-dropdown__item">
        <p class="endpoint-preview-dropdown__title">IMEI</p>
        <p class="endpoint-preview-dropdown__value">
          {{endpoint.imei || '-'}}
        </p>
      </div>
      <div class="endpoint-preview-dropdown__item">
        <p class="endpoint-preview-dropdown__title">Service Profile Name</p>
        <p class="endpoint-preview-dropdown__value">
          {{endpoint.service_profile && endpoint.service_profile.name || '-'}}
        </p>
      </div>
      <div class="endpoint-preview-dropdown__item">
        <p class="endpoint-preview-dropdown__title">Tariff Profile Name</p>
        <p class="endpoint-preview-dropdown__value">
          {{endpoint.tariff_profile && endpoint.tariff_profile.name || '-'}}
        </p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: [
    'endpoint',
  ],
};
</script>

<style scoped>

</style>
