<template>
  <div class="endpoint-list">
    <MainEndpointMsg v-show="listIsEmpty"></MainEndpointMsg>
    <div class="endpoint-list__data" v-show="!listIsEmpty">
      <MainEndpointPreviewHeader class="endpoint-list__header">
      </MainEndpointPreviewHeader>
      <MainEndpointPreview
        :key="index"
        :endpoint="endpoint"
        v-for="(endpoint, index) in endpointsList">
      </MainEndpointPreview>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import MainEndpointPreviewHeader from '@/components/main/endpoint/MainEndpointPreviewHeader.vue';
import MainEndpointPreview from '@/components/main/endpoint/MainEndpointPreview.vue';
import MainEndpointMsg from '@/components/main/endpoint/MainEndpointMsg.vue';

export default {
  components: {
    MainEndpointPreviewHeader,
    MainEndpointPreview,
    MainEndpointMsg,
  },
  computed: {
    ...mapGetters({
      endpointsList: 'endpoints/endpointsList',
    }),

    listIsEmpty() {
      return this.endpointsList && this.endpointsList.length <= 0;
    },
  },
};
</script>

<style src="./endpoint.styles/_import.css"></style>
