<template>
  <div class="endpoint-preview">
    <div class="endpoint-preview__list" @click="toggleVisibility">
      <button
              :class="{'endpoint-preview__toggle-button--active': isOpen}"
              class="endpoint-preview__toggle-button">
        <svg class="endpoint-preview__toggle-icon">
          <use xlink:href="#chevron-down"></use>
        </svg>
      </button>
      <div class="endpoint-preview__box endpoint-preview__box--status">
        <p class="endpoint-preview__text" data-mobile-title="Status">
          {{endpoint.status.description}}
        </p>
      </div>
      <div class="endpoint-preview__box endpoint-preview__box--name">
        <p class="endpoint-preview__text" data-mobile-title="Name">
          {{endpoint.name}}
        </p>
      </div>
      <div class="endpoint-preview__box endpoint-preview__box--sim">
        <p class="endpoint-preview__text" data-mobile-title="SIM (ICCID) Present">
          <svg class="endpoint-preview__ico endpoint-preview__ico--checked endpoint-preview__ico--success"
               v-if="endpoint.sim && endpoint.sim.iccid">
            <use xlink:href="#checked"></use>
          </svg>
          <svg class="endpoint-preview__ico endpoint-preview__ico--error"
               v-if="!(endpoint.sim && endpoint.sim.iccid)">
            <use xlink:href="#cross"></use>
          </svg>
        </p>
      </div>
      <div class="endpoint-preview__box endpoint-preview__box--imei">
        <p class="endpoint-preview__text" data-mobile-title="IMEI Present">
          <svg class="endpoint-preview__ico endpoint-preview__ico--checked endpoint-preview__ico--success" v-if="endpoint.imei">
            <use xlink:href="#checked"></use>
          </svg>
          <svg class="endpoint-preview__ico endpoint-preview__ico--error" v-if="!endpoint.imei">
            <use xlink:href="#cross"></use>
          </svg>
        </p>
      </div>
      <div class="endpoint-preview__box endpoint-preview__box--imei-locked">
        <p class="endpoint-preview__text" data-mobile-title="IMEI Locked">
          <svg class="endpoint-preview__ico endpoint-preview__ico--lock" v-if="endpoint.imei_lock">
            <use xlink:href="#lock"></use>
          </svg>
          <svg class="endpoint-preview__ico endpoint-preview__ico--lock endpoint-preview__ico--error"
               v-if="!endpoint.imei_lock">
            <use xlink:href="#lock"></use>
          </svg>
        </p>
      </div>
    </div>
    <MainEndpointDropdown :endpoint="endpoint" v-if="isOpen"></MainEndpointDropdown>
  </div>
</template>

<script>
import MainEndpointDropdown from './MainEndpointDropdown.vue';

export default {
  data() {
    return {
      isOpen: false,
    };
  },

  props: ['endpoint'],

  components: {
    MainEndpointDropdown,
  },

  methods: {
    toggleVisibility() {
      this.isOpen = !this.isOpen;
    },
  },
};
</script>

<style scoped>
</style>
