<template>
  <div class="endpoint-preview endpoint-preview--header">
    <div class="endpoint-preview__box endpoint-preview__box--status">
      <p class="endpoint-preview__title">Status</p>
    </div>
    <div class="endpoint-preview__box endpoint-preview__box--name">
      <p class="endpoint-preview__title">Name</p>
    </div>
    <div class="endpoint-preview__box endpoint-preview__box--sim">
      <p class="endpoint-preview__title">SIM (ICCID) Present</p>
    </div>
    <div class="endpoint-preview__box endpoint-preview__box--imei">
      <p class="endpoint-preview__title">IMEI Present</p>
    </div>
    <div class="endpoint-preview__box endpoint-preview__box--imei-locked">
      <p class="endpoint-preview__title">IMEI Locked</p>
    </div>
  </div>
</template>

<script>
export default {

};
</script>

<style scoped>
  .endpoint-preview {

  }
</style>
