<template>
  <div class="endpoint-msg">
    <svg class="endpoint-msg__icon">
      <use xlink:href="#ethernet"></use>
    </svg>
    <p class="endpoint-msg__title">Endpoints not found</p>
    <p class="endpoint-msg__text">Please change search criteria</p>
  </div>
</template>

<script>
export default {
};
</script>

<style scoped>
  .endpoint-msg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 350px;
  }

  .endpoint-msg__icon {
    width: 75px;
    height: 75px;
    margin: 0 auto 30px;
  }
  .endpoint-msg__title {
    margin-bottom: 10px;
    font-size: 1.35rem;
    color: #000;
    font-weight: bold;
  }

  .endpoint-msg__text {
    font-size: 1rem;
    font-weight: 300;
  }
</style>
