<template>
  <label class="input-wrapper">
    <slot></slot>
    <span class="input-wrapper__data">
      <span class="input-wrapper__label">{{label}}</span>
    </span>
  </label>
</template>

<script>
export default {
  props: ['label'],
};
</script>

<style scoped>
  .input-wrapper {
    display: block;
    position: relative;
    width: 100%;

    select {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
    }

    input {
      display: block;
      width: 100%;
      padding: 20px 16px;
      font: 400 .875rem 'Lato' !important;
      background: #fff !important;
      line-height: 1.714285714;
      outline: none;
      border: 1px solid rgba(40,50,55, .16);
      box-sizing: border-box;
    }
  }

  .input-wrapper--select {
    display: block;
    width: 100%;
    padding: 20px 16px;
    font: 400 .875rem 'Lato' !important;
    background: #fff !important;
    line-height: 1.714285714;
    outline: none;
    border: 1px solid rgba(40,50,55, .16);
    box-sizing: border-box;
  }

  .input-wrapper--error {
    input {
      border-color: var(--error-color);
    }
    .input-wrapper__label {
      color: var(--error-color);
    }
  }

  .input-wrapper__data {}
  .input-wrapper__label {
    position: absolute;
    left: 15px;
    bottom: 100%;
    padding: 0 10px;
    background: #fff;
    transform: translateY(50%);
  }
</style>
