<template>
  <div class="pagination-wrapper">
    <paginate ref="paginator"
              name="list"
              :list="list"
              :per="limit"
    >
    </paginate>
    <paginate-links
      @change="onChangePage" for="list"></paginate-links>
  </div>
</template>

<script>
export default {
  name: 'BasePaginationWrapper',
  data() {
    return {
      paginate: ['list'],
    };
  },
  props: [
    'list',
    'limit',
  ],
  methods: {
    onChangePage(toPage) {
      this.$emit('onChangePage', toPage);
    },
  },
};
</script>

<style scoped>

</style>
