.endpoint-preview__box {
  flex-grow: 1;
  padding: 0 10px;
  min-width: 0;
  margin-bottom: 10px;
  box-sizing: border-box;
  @media (--viewport-ex-large-desktop) {
    margin-bottom: 0;
  }
}

.endpoint-preview__box--status {
  width: 206px;
}

.endpoint-preview__box--name {
  width: 350px;
}

.endpoint-preview__box--sim {
  width: 250px;
}

.endpoint-preview__box--imei {
  width: 250px;
}

.endpoint-preview__box--imei-locked {
  width: 250px;
}
