.endpoint-preview-dropdown {
  display: flex;
  padding: 10px;
  background: #f2f2f2;
  box-sizing: border-box;
}

.endpoint-preview-dropdown__list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.endpoint-preview-dropdown__item {
  width: 20%;
  min-width: 220px;
  margin-bottom: 20px;
}

.endpoint-preview-dropdown__title {
  color: var(--primary-color-50);
}

.endpoint-preview-dropdown__value {
  color: var(--primary-color-80);
}
