.endpoint-list {
  @media (--viewport-ex-large-desktop) {
    margin-top: 40px;
  }
}

.endpoint-preview {
  margin-bottom: 20px;
  border: 1px solid var(--primary-color-20);
  box-sizing: border-box;
  @media (--viewport-ex-large-desktop) {
    margin-bottom: 0;
    border: 0;
    border-top: 1px solid var(--primary-color-20);
  }

  &:last-child {
    border-bottom: 1px solid var(--primary-color-20);
  }
}

.endpoint-preview__toggle-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  padding: 0;
  @media (--viewport-ex-large-desktop) {
    height: 100%;
  }
}

.endpoint-preview__toggle-button--active {
  .endpoint-preview__toggle-icon {
    transform: rotate(180deg);
  }
}

.endpoint-preview__toggle-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 15px;
  fill: var(--primary-color);
  margin-top: -7px;
  margin-left: -7px;
  transition: transform .3s ease;
}

.endpoint-preview--header {
  display: none;
  width: 100%;
  padding: 0 50px 10px 0;
  border-top: 0;

  @media (--viewport-ex-large-desktop) {
    display: flex;
  }
}

.endpoint-preview__list {
  position: relative;
  display: block;
  padding: 10px 50px 10px 0;
  align-items: center;
  min-height: 50px;
  @media (--viewport-ex-large-desktop) {
    display: flex;
  }
}


.endpoint-preview__title {
  color: var(--primary-color-50);
  font-size: 1rem;
}


.endpoint-preview__text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  &:before {
    display: block;
    font-weight: bold;
    content: attr(data-mobile-title);
    @media (--viewport-ex-large-desktop) {
      content: none
    }
  }
}


.endpoint-preview__ico {
  display: inline-block;
  width: 15px;
  height: 15px;
  fill: var(--shade-color);
  vertical-align: middle;
}

.endpoint-preview__ico--checked {
  width: 18px;
  height: 18px;
}

.endpoint-preview__ico--lock {
  width: 18px;
  height: 18px;
}

.endpoint-preview__ico--error {
  fill: var(--error-color);
}

.endpoint-preview__ico--success {
  fill: var(--success-color)
}


.endpoint-preview__ico--checked {}
