.hamburger-button {
  position: relative;
  z-index: 999;
  top: 0;
  margin-left: -15px;
  display: block;
  width: 60px;
  height: 100%;
  padding: 0;
  background: none;
  outline: none;
  border: 0;
  cursor: pointer;
  @media (--viewport-ex-large-desktop) {
    display: none;
  }
}

.hamburger-button__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 21px;
  height: 3px;
  background: var(--primary-color-80);
  border-radius: 16px;
  transition: background .3s ease;
  border: 0;
  margin-left: -10px;
  margin-top: -1px;
  outline: none;
  cursor: pointer;

  &:before,
  &:after {
    position: absolute;
    content: '';
    left: 0;
    width: inherit;
    height: inherit;
    background: inherit;
    border-radius: inherit;
    transition: transform .3s ease;
  }

  &:before {
    top: 100%;
    transform: translateY(0) rotate(0);
    margin-top: 5px;
  }

  &:after {
    bottom: 100%;
    transform: translateY(0) rotate(0);
    margin-bottom: 5px;
  }
}

.opened--nav {
  .hamburger-button__icon {
    background: transparent;
    &:before {
      background: #808080;
      top: 0;
      margin: 0;
      transform: translateY(0) rotate(-45deg);
    }

    &:after {
      background: #808080;
      bottom: 0;
      margin: 0;
      transform: translateY(0) rotate(45deg);
    }
  }
}

