<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
import { mapMutations } from 'vuex';

export default {
  name: 'App',
  methods: {
    ...mapMutations({
      checkStorageToken: 'auth/checkStorageToken',
    }),
  },
  created() {
    this.checkStorageToken();
  },
};
</script>

<style src="@/app.styles/_import.css"></style>
